terraform/resources/.DS_Store
terraform/.DS_Store
.DS_Store

terraform/resources/ssh/*.tfvars
terraform/resources/ssh/*.tfstate
terraform/resources/ssh/*.tfstate.backup
terraform/resources/ssh/*.tfstate.lock.info
terraform/resources/ssh/.terraform/
terraform/resources/ssh/.vagrant/
terraform/resources/ssh/.sentinel

*.tfstate
*.tfstate.backup
*.tfstate.lock.info

*.log

.terraform/
.vagrant/

*.pem

*.bak

*gitignore*.tf

.DS_Store

.vscode/

operations/automation-script/apply.json
operations/automation-script/configversion.json
operations/automation-script/run.template.json
operations/automation-script/run.json
operations/automation-script/variable.template.json
operations/automation-script/variable.json
operations/automation-script/workspace.template.json
operations/automation-script/workspace.json
operations/sentinel-policies-scripts/create-policy.template.json
operations/sentinel-policies-scripts/create-policy.json
operations/variable-scripts/variable.template.json
operations/variable-scripts/variable.json


.sentinel


.sass-cache/
.jekyll-metadata
*.DS_Store
package.json
.vscode/settings.json
*tfstate*
